:root {
    --color0: rgb(0, 0, 0);
    --color1: rgb(0, 0, 0);
    --color2: rgb(6, 8, 32);
    --color3: white;
    --color4: black;
    --color5: rgb(87, 87, 87);
    --color6: rgb(218, 253, 62);
    --color7: rgb(230, 246, 255);
    --color8: rgb(255, 231, 231);
    --color9: rgb(17, 3, 44);
    --color10: white;
    --color11: black;
    --color12: '';
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;

    font-family: Helvetica, sans-serif;

    display: flex;
    flex-direction: column;

    background: linear-gradient(var(--color1), var(--color2))
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    flex-grow: 1;
    flex-direction: column;
}

.theme {
    background-color: var(--color10);
    width: 65px;
    height: 35px;
    margin: 0 auto 15px;

    border-radius: 30px;
}

#theme-switch {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.circle {
    background-color: var(--color11);
    width: 25px;
    height: 25px;
    border-radius: 50%;

    position: relative;
    top: 5px;
    left: 5px;

    transition: transform 0.5s;
}

.calculator {
    padding: 30px;

    min-width: 340px;
    min-height: 500px;

    border-radius: 25px;
    box-shadow: -10px 12px 10px var(--color12);

    display: flex;
    flex-direction: column;
    gap: 30px;

    background: var(--color3);
}

.display {
    padding: 15px 8px;
    text-align: right;

    font-size: 20px;

    height: 60px;
    
    background: linear-gradient(var(--color0), var(--color6) 20%);
    border: 2px solid black;
    border-radius: 5px;
}

.button-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    width: 25px;
    flex-grow: 1;

    border-radius: 10px;

    font-family: monospace, Helvetica, sans-serif;
    font-weight: bold;

    background: linear-gradient(var(--color0), var(--color3) 20%);
}

.color {
    background: linear-gradient(var(--color0), var(--color7) 20%);
}

.color2 {
    background: linear-gradient(var(--color0), var(--color8) 20%);
}

.equate {
    flex-grow: 2.95;
}

.footer {
    height: 6vh;

    background: linear-gradient(to left, var(--color9), var(--color3) 53%, var(--color9));

    
    font-weight: bold;
    letter-spacing: 0.3rem;
}
